.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
  margin: 0;
  padding: 0;
}
h2{
  text-align: center;
  text-decoration: underline;
  
}
.auth{
  display: flex;
  justify-content: space-around;
  width: 95vw;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2;
}

.auth-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: rgb(171, 199, 252);
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0 , 0.1);
  margin: 20px;
  width: 400px;
}
.savedRecipe-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  padding: 20px;
  background-color: rgb(171, 199, 252);
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0 , 0.1);
  margin: 20px;
  width: 400px;
}

.form-group{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}
input,textarea{
  outline: none;
  border: 2px solid rgb(11, 7, 7);
  border-radius: 5px;
  padding: 5px;
  font-weight: 600;
}
input,textarea:focus{
  border: 2px solid green;
}
.auth button{
  width: 100%;
  padding: 5px;
  border-radius: 6px;
  font-weight: 600;
  font-size: 19px;
  outline: none;
  border: none;
  background: green;
  color: white;
  letter-spacing: 0.1rem;
  margin-top: 2%;
  cursor: pointer;
}
button:active{
  background-color: orange;
}
button.add-button{
  color: blue;
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  background-color: wheat;
}
.navbar{
  margin: 0;
  width: 100%;
  height: 80px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
}

a{
  color: white;
  text-decoration: none;
  margin:10px;
  font-size: 25px;
}

.create-recipe{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0 , 0.1);
  margin: 20px;
  width: 400px;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

li{
  border: 1px soid black;
  padding: 10px;
  margin-bottom: 10px;
}

h2{
  margin-top: 0;
}

img{
  max-width: 10%;
  height: aut;
  margin-bottom: 10px;
}

img{
  width: 400px;
}

p{
  font-size: 12px;
  max-width: 400px;
}